<div class="row">
  <div class="col-sm-12">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name:</label>
          <input type="text" name="name" class="form-control" ngModel required #name="ngModel"
          >
          <span class="alert alert-danger" *ngIf="name.touched && name.errors?.required">Name required</span>
        </div>
        <div class="col-sm-2" class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" name="amount" class="form-control" ngModel required pattern="^[1-9]+[0-9]*$" #amount="ngModel">
          <span class="alert alert-danger" *ngIf="amount.touched && amount.errors?.required">Amount required</span>
          <span class="alert alert-danger" *ngIf="amount.touched && amount.errors?.pattern">Amount invalid</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Edit' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" *ngIf="this.editMode" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onFormClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>