<a style="cursor: pointer" class="list-group-item clearfix" [routerLink]="['/recipes/', id]" routerLinkActive="active">
  <div class="float-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="float-right">
    <img [src]="recipe.imagePath" alt="" class="img-fluid img-recipe">
  </span>
</a>