<label>Server Name:</label>
<input type="text" class="from-control" (input)="unUpdateServerName($event)">
<p>{{ serverName }}</p>
<button (click)="addServer()" class="btn btn-primary">Add Server</button>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<input type="text" [(ngModel)]="userName">
{{ userName }}
<button [disabled]="userName === ''" (click)="userName = ''" class="btn btn-primary">
  Reset
</button>
<hr>
<button (click)="toggleDetails($event)" class="btn btn-primary">
  Desplay details
</button>
<p [hidden]="showDetails">The detials</p>
<ul>
  <li *ngFor="let click of clicks; let i = index" [ngStyle]="{'backgroundColor': i > 4 ? 'blue' : ''}">
    {{i}}
  </li>
</ul>
