<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" [disabled]="!recipeForm.valid">
            Save
          </button>
          <button class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <div class="text-danger" *ngIf="recipeForm.get('name').hasError('required') && recipeForm.get('name').touched">Name is required</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
            <div class="text-danger" *ngIf="recipeForm.get('imagePath').hasError('required') && recipeForm.get('imagePath').touched">Image is required</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img [src]="imagePath.value" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="" id="description" class="form-control" rows="6" formControlName="description"></textarea>
            <div class="text-danger" *ngIf="recipeForm.get('description').hasError('required') && recipeForm.get('description').touched">Desription is required</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" formArrayName="ingredients">
          <div class="row mt-4" [formGroupName]="i" *ngFor="let ingredientCtrl of controls; let i = index">
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="name">
                <div class="text-danger" *ngIf="recipeForm.get('ingredients.' + i + '.name').hasError('required') && recipeForm.get('ingredients.' + i + '.name').touched">Ingredient is required</div>
            </div>
            <div class="col-sm-2">
                <input type="number" class="form-control" formControlName="amount">
                <div class="text-danger" *ngIf="recipeForm.get('ingredients.' + i + '.amount').hasError('required') && recipeForm.get('ingredients.' + i + '.amount').touched">amount is required</div>
                <div class="text-danger" *ngIf="recipeForm.get('ingredients.' + i + '.amount').hasError('pattern') && recipeForm.get('ingredients.' + i + '.amount').touched">Invalid amount</div>
                <div class="text-danger" *ngIf="recipeForm.get('ingredients.' + i + '.amount').hasError('min') && recipeForm.get('ingredients.' + i + '.amount').touched">Invalid amount</div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row mt-4">
            <div class="col-sm-12">
              <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
        </div>
    </form>
  </div>
</div>