<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-sm-12 col-md-6 offset-md-3">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div> -->
    <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
    
    
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" ngModel name="email" required email>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" ngModel name="password" required minlength="6">
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button> | 

        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
          Switch To {{ isLoginMode ? 'Sign Up' : 'Login'}}
        </button>
      </div>
    </form>
  </div>
</div>