<div *ngIf="recipe; else noRecipe">
  <div class="row">
    <div class="col-sm-12">
      <img [src]="recipe.imagePath" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" id="buttonDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Recipe</button>
        <ul class="dropdown-menu" aria-labelledby="buttonDropdown">
          <li class="dropdown-item">
            <a (click)="toShoppingList()" style="cursor: pointer">To shopping List</a>
          </li>
          <li class="dropdown-item">
            <a style="cursor: pointer" routerLink="edit">Edit Recipe</a>
          </li>
          <li class="dropdown-item">
            <a style="cursor: pointer" (click)="onDelete()">Delete recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #noRecipe>
  <h4>No Recipe Found</h4>
</ng-template>
