<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" name="userName" ngModel required #userName="ngModel">
          </div>
          <span class="help-block " *ngIf="userName.errors?.required && userName.touched">You must enter a user
            name</span>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" name="email" ngModel required email #email="ngModel">
          </div>
          <span class="help-block" *ngIf="email.errors?.required && email.touched">You must enter a email</span>
          <span class="help-block" *ngIf="email.errors?.email && email.touched">Email not valid</span>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" name="secret" [ngModel]="'pet'">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" class="form-control" rows="3" ngModel #questionAnswer="ngModel"></textarea>
        </div>
        <p>Your reply: {{ questionAnswer.value }}</p>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender">
            {{ gender }}
          </label>
        </div>
      </form>
      <hr>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{ user.userName }}</p>
          <p>Mail: {{ user.email }} </p>
          <p>Secret Question: {{ user.secretQuestion }}</p>
          <p>Answer: {{ user.answer }} </p>
          <p>Gender: {{ user.gender }} </p>
        </div>
      </div>
    </div>
  </div>
</div>