<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Angular App</a>
    <div>
      <u class="navbar-nav ml-auto">
        <li class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/" class="nav-link">
            Home
          </a>
        </li>
        <li class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/users" class="nav-link">
            Users
          </a>
        </li>
        <li class="navbar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/posts" class="nav-link">
            Posts
          </a>
        </li>
      </u>
    </div>
  </div>
</nav>