<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control">
            <div *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">
              <span class="help-block"
                *ngIf="signupForm.get('userData.username').errors['required'] && signupForm.get('userData.username').touched">User
                name is required
              </span>
              <span class="help-block" *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name
                is
                invalid
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text" id="email" formControlName="email" class="form-control">
            <div *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched ">
              <span class="help-block"
                *ngIf="signupForm.get('userData.email').hasError('required') && signupForm.get('userData.email').touched">Email
                is required
              </span>
              <span class="help-block"
                *ngIf="signupForm.get('userData.email').hasError('email') && signupForm.get('userData.email').touched">Email
                is not valid
              </span>
              <span class="help-block"
                *ngIf="signupForm.get('userData.email').hasError('emailIsForbidden') && signupForm.get('userData.email').touched">
                You are allredy registred
              </span>
            </div>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-default" (click)="onAddHobby()">Add Hobby</button>
          <div class="from-group" *ngFor="let hobbyControl of controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
            <span class="help-block"
              *ngIf="signupForm.get('hobbies.'+i).errors['required'] && signupForm.get('hobbies.'+i).touched">Hobby is
              required
            </span>
          </div>
        </div>
        <span class="help-block" *ngIf="!signupForm.valid && signupForm.touched">You must enter valid data </span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>