<div class="row">
  <div class="col-md-6">
    <a routerLink="/"><div class="fa fa-arrow-circle-o-left"></div> Back</a>
  </div>
  <div class="col-md-6">
    
  </div>
</div>
<div class="card">
    <div class="card-header">
      Add Client
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="form-group">
          <label for="firstName">First Name: </label>
          <input class="form-control" type="text" name="firstName" required minlength="2" ngModel #firstName="ngModel"
            [ngClass]="{'is-invalid': firstName.errors && firstName.touched}" placeholder="First Name">

          <div [hidden]="!firstName.errors?.required" class="invalid-feedback">
            First Name is required
          </div>

          <div [hidden]="!firstName.errors?.minlength" class="invalid-feedback">
            First name must be longer then 2 chracters
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name: </label>
          <input class="form-control" type="text" name="lastName" required minlength="2" ngModel #lastName="ngModel"
            [ngClass]="{'is-invalid': lastName.errors && lastName.touched}" placeholder="Last Name">

          <div [hidden]="!lastName.errors?.required" class="invalid-feedback">
            Last Name is required
          </div>

          <div [hidden]="!lastName.errors?.minlength" class="invalid-feedback">
            Last name must be longer then 2 chracters
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email: </label>
          <input class="form-control" type="text" name="email" required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel #email="ngModel"
            [ngClass]="{'is-invalid': email.errors && email.touched}" placeholder="Email">

          <div [hidden]="!email.errors?.required" class="invalid-feedback">
            Email is required
          </div>

          <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
            Email is not valid
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone: </label>
          <input class="form-control" type="text" name="phone" required minlength="10" ngModel #phone="ngModel"
            [ngClass]="{'is-invalid': phone.errors && phone.touched}" placeholder="Phone">

          <div [hidden]="!phone.errors?.required" class="invalid-feedback">
            Phone is required
          </div>
        </div>

        <div class="form-group">
          <label for="balance">Balance: </label>
          <input class="form-control" type="number" required name="balance" ngModel #balance="ngModel"
            [ngClass]="{'is-invalid': balance.errors && balance.touched}"  [disabled]="disableBalanceOnAdd">

          <div [hidden]="!balance.errors?.required" class="invalid-feedback">
            Balance is required
          </div>
        </div>

        <button [ngClass]="{'btn-success': f.valid}" [disabled]="!f.valid" class="btn btn-block mb-3" type="submit">
          Add New Client
        </button>

      </form>
    </div>