<div class="card card-body mb-3">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Add a log" required name="text" [(ngModel)]="formLog.text">
    </div>
    <input type="submit" value="Add Log" class="btn btn-light" [disabled]="!f.valid">
    <button (click)="onClear()" type="button" class="btn btn-warning" [hidden]="!f.valid">
      Clear
    </button>
  </form>
</div>