<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
    <!--
      Optimize this app by adding a UsersService which manages the active and inactive users.

      Also add a CounterService which counts the number of active->inactive and inactive->active actions.
    -->
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      Active To Inactive Counter: {{ counterService.setToInactiveCounter }}
    </div>
    <div class="col-xs-12 col-md-6">
      Active To Active Counter: {{ counterService.setToActiveCounter }}
    </div>
  </div>
</div>
