<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Animations</h1>
      <button class="btn btn-primary" (click)="onAnimate()">Animate!</button>
      <button class="btn btn-primary" (click)="onShrink()">Shrink!</button>
      <hr>
      <div style="height: 100px; width: 100px" [@divState]="state"
      (@divState.start)="onAnimationStart($event)"
      (@divState.done)="onAnimationDone($event)"></div>
    <br>
    <div style="height: 100px; width: 100px" [@wildState]="wildState"></div>
    </div>
    
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <input type="text" #input>
    <button class="btn btn-primary" (click)="onAdd(input.value)">Add Item!</button>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" (click)="onDelete(item)" *ngFor="let item of list" [@list1]> 
        {{ item }}
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" (click)="onDelete(item)" *ngFor="let item of list" [@list2]>
        {{ item }}
      </li>
    </ul>
  </div>
</div>