<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let log of logs"
    [class.list-group-item-secondary]="selectedLog === log">
    <a href="#" (click)="onSelect(log)">{{ log.text }}</a>
    <span class="log-date">{{ log.date | date: 'short' }}</span>
    <i (click)="deleteLog(log)" class="fa fa-remove"></i>
  </li>
</ul>

<div *ngIf="loaded && logs.length == 0">
  <h5>There are no logs in the system</h5>
</div>

<div *ngIf="!loaded">
  <h5>Loading...</h5>
</div>