<h2>Users:</h2>
<div *ngIf="loaded">
  <button (click)="toggleUserForm()" class="btn btn-dark mb-3">Add User</button>
  <form class="card card-body mb-3" *ngIf="showUserForm" #f="ngForm" (ngSubmit)="addUser(f)">
    <h2>Add User:</h2>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input class="form-control" type="text" name="firstName" ngModel
        [ngClass]="{'is-invalid': firstName.errors && firstName.touched}" #firstName="ngModel" required minlength="2" />
      <div [hidden]="!firstName.errors?.required" class="invalid-feedback">
        first name required
      </div>
      <div [hidden]="!firstName.errors?.minlength" class="invalid-feedback">
        must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input class="form-control" type="text" name="lastName" required minlength="2" ngModel #lastName="ngModel"
        [ngClass]="{'is-invalid': lastName.errors && lastName.touched}" />
      <div [hidden]="!lastName.errors?.required" class="invalid-feedback">
        last name required
      </div>
      <div [hidden]="!lastName.errors?.minlength" class="invalid-feedback">
        must be at least 2 characters
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" type="email" name="email" ngModel #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngClass]="{'is-invalid': email.errors && email.touched}" />
      <div [hidden]="!email.errors?.required" class="invalid-feedback">
        email is required
      </div>
      <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
          email is not valid
        </div>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input class="form-control" type="number" name="age" ngModel />
    </div>
    <div class="form-group">
      <label for="street">Street:</label>
      <input class="form-control" type="text" name="street" ngModel />
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input class="form-control" type="text" name="city" ngModel />
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input class="form-control" type="text" name="state" ngModel />
    </div>
    <button [ngClass]="{'btn-success': f.valid}" [disabled]="!f.valid" class="btn btn-block mb-3"  type="submit">
      Add New User
    </button>
  </form>
</div>
<!-- <button *ngIf="loaded" [disabled]="!enableAdd" class="btn btn-block mb-3" [ngClass]="currentClasses">Add New
  User</button> -->
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">
    <h3>{{ user.firstName }} {{ user.lastName }}
      <small *ngIf="user.age && user.address">
        <button (click)="toggleShowExtended(user)" class="btn-dark btn-small">
          <i [ngClass]="user.showExtended ? 'fa fa-minus' : 'fa fa-plus'"></i>
        </button>
      </small>
    </h3>
    <ul class="list-group" *ngIf="user.showExtended && user.age && user.address">
      <li class="list-group-item">Age: {{ user.age }}</li>
      <li class="list-group-item">Address {{ user.address.street }} {{ user.address.city }},
        {{ user.address.state }}
      </li>
      <li class="list-group-item">
        {{ user.email }}
      </li>
      <li class="list-group-item">
        Joined: {{ user.registred | date }}
      </li>
    </ul>
  </li>
</ul>

<h4 *ngIf="loaded && users?.length == 0"> No Users Found</h4>

<h4 *ngIf="!loaded">Loading Users...</h4>