<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label for="email"></label>
          <input type="text" class="form-control" name="email" id="email"
          required email ngModel #email="ngModel">
        </div>
        <p *ngIf="email.errors?.required && email.touched">Email is required</p>
        <p *ngIf="email.errors?.email && email.touched">Email not valid</p>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select name="subscription" class="form-control" id="subscription" ngModel [ngModel]="'advanced'" #subscription="ngModel">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input type="password" class="form-control" name="password" id="password" ngModel required #password="ngModel">
        </div>
        <p *ngIf="password.errors?.required">
          Password is required
        </p>
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
      <p *ngIf="!f.valid && f.touched">
        Form is not valid
      </p>
      <div *ngIf="submited">
        <p>Email: {{ email.value }}</p>
        <p>Subscription: {{ subscription.value }}</p>
        <p>Pssword: {{ password.value }}</p>
      </div>
    </div>
  </div>
</div>
