<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>
      Back To Dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right" *ngIf="client">
      <a routerLink="/client/edit/{{ id }}" class="btn btn-dark">Edit</a>
      <button (click)="deleteClient()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
<hr>
<div *ngIf="loaded && client" class="card">
  <div class="card-header">
    <h2>{{ client.firstName }} {{ client.lastName}}:</h2>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        Id: {{ client.id }}
      </li>
      <li class="list-group-item">
        Email: {{ client.email }}
      </li>
      <li class="list-group-item">
        Phone: {{ client.phone }}
      </li>
      <li class="list-group-item">
        Balance:
        <span [class.text-danger]="hasBalance" [class.text-success]="!hasBalance">
          {{ client.balance }}
        </span>
        <small>
          <a (click)="showBlanceUpdateInput = !showBlanceUpdateInput">
            <i class="fa fa-pencil"></i>
          </a>
        </small>
        <form *ngIf="showBlanceUpdateInput" (submit)="updateBalance(id)">
          <div class="input-group">
            <input type="text" name="balance" class="form-control" [(ngModel)]="client.balance">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Update</button>
            </span>
          </div>
        </form>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="!loaded">Loading...</div>
<div *ngIf="!client && loaded">Client dont exist</div>