<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project Name:</label>
          <input type="text" name="projectName" id="projectName" formControlName="projectName" class="form-control">
          <span *ngIf="projectForm.get('projectName').touched && projectForm.get('projectName').hasError('required')">
            Project name is required
          </span>
          <span
            *ngIf="projectForm.get('projectName').touched && projectForm.get('projectName').hasError('nameNotAllowed')">
            Project name is not allowed
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" formControlName="email" class="form-control">
          <span *ngIf="projectForm.get('email').touched && projectForm.get('email').hasError('required')">
            Email name is required
          </span>
          <span *ngIf="projectForm.get('email').touched && projectForm.get('email').hasError('email')">
            Email is not valid
          </span>
        </div>
        <div class="form-group">
          <label for="projectStatus">Project Status:</label>
          <select name="projectStatus" id="projectStatus" formControlName="projectStatus" class="form-control">
            <option value="Stable">Stable</option>
            <option value="Critical">Critical</option>
            <option value="Finished">Finished</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>