<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>App Components</h1>
      <hr>
      <app-servers></app-servers>
      <app-alert></app-alert>
      <app-success></app-success>
    </div>
  </div>
</div>