<a routerLink="/posts" class="btn btn-light btn-sm mb-3">Back</a>

<div *ngIf="post" class="card card-body">
 <h2>{{ post.title }}</h2>
 <p>{{ post.body }}</p>
</div>

<div *ngIf="loaded && !post">
  <h2>No Post Found</h2>
</div>

<div *ngIf="!loaded">Loading...</div>