<h2>Add Post</h2>
<div class="card card-body">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" placeholder="Title" required minlength="2" ngModel [(ngModel)]="currentPost.title">
    </div>
    <div class="form-group mb-3">
      <label for="body">Body</label>
      <input type="text" class="form-control" name="body" placeholder="Body" required minlength="2" ngModel [(ngModel)]="currentPost.body">
    </div>
    <button *ngIf="!isEdit" [disabled]="!f.valid" class="btn btn-block" [ngClass]="{'btn-success': f.valid}" type="submit">Add Post</button>
    <button *ngIf="isEdit" [disabled]="!f.valid" class="btn btn-block" [ngClass]="{'btn-warning': f.valid}" type="submit">Update Post</button>
  </form>
</div>