<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container-fluid">
  
      <a class="navbar-brand" routerLink="/">Recipe Book</a>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
        <a class="nav-link" href="#" routerLink="/auth">Authenticate</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="isAuthenticated">
        <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isAuthenticated">
        <a style="cursor: pointer" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Manage</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="cursor: pointer" (click)="onSaveData()">Save Data</a>
          <a class="dropdown-item" style="cursor: pointer" (click)="onFetchData()">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>