<app-game-control (tick)="tick($event)"></app-game-control>
<div>
  Even:
  <hr>
  <app-even *ngFor="let element of even" [element]="element"> </app-even>
  Odd:
  <hr>
  <app-odd *ngFor="let element of odd" [element]="element">
  </app-odd>
</div>