<app-post-form [currentPost]="currentPost" [isEdit]="isEdit" (addPostEvent)="addPost($event)" (updatedPost)="onUpdatePost($event)"></app-post-form>
<h2>Posts:</h2>
<ul class="list-unstyled">
  <li class="card mb-4" *ngFor="let post of posts">
    <div class="card-body">
      <h3><a href="#" routerLink="/post/{{post.id}}">{{ post.title }}</a></h3>
      <p>{{ post.body }}</p>
      <hr>
      <div (click)="removePost(post)" class="btn btn-danger">
        <li class="fa fa-remove"></li>
      </div>
      <div (click)="editPost(post)" class="btn btn-light">
          <li class="fa fa-pencil"></li>
        </div>
    </div>
  </li>
</ul>