<div class="row">
  <div class="col-md-6">
    <a routerLink='/' class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left">
        Back To Dashboard
      </i>
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-header">
    Edit Settings
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="allowRegisration">Allow Registration</label>
        <input type="checkbox" name="allowRegistration"
        [(ngModel)]="settings.allowRegistration">
      </div>
      <div class="form-group">
        <label for="disableBanlaceOnAddEdit">Disable Add/Edit Balance</label>
        <input type="checkbox" name="disableBanlaceOnAddEdit" [(ngModel)]="settings.disableBanlaceOnAddEdit">
      </div>
      <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>
</div>